cloudpickle==3.1.0
Farama-Notifications==0.0.4
filelock==3.16.1
fsspec==2024.10.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.1.2
pygame==2.6.1
pyglet==1.5.27
setuptools==75.2.0
six==1.16.0
swig==4.2.1.post0
sympy==1.13.1
torch==2.5.0
typing_extensions==4.12.2
vmas==1.4.3
