AutoROM==0.6.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
Farama-Notifications==0.0.4
filelock==3.16.1
fsspec==2024.10.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.2
mpmath==1.3.0
multi-agent-ale-py==0.1.11
networkx==3.4.2
numpy==2.1.2
pettingzoo==1.24.3
pygame==2.3.0
pyglet==1.5.27
requests==2.32.3
six==1.16.0
sympy==1.13.1
torch==2.5.1
typing_extensions==4.12.2
urllib3==2.2.3
vmas==1.4.3
