absl-py==2.1.0
AutoROM==0.6.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
contourpy==1.3.0
cycler==0.12.1
etils==1.10.0
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.54.1
fsspec==2024.10.0
glfw==2.7.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
idna==3.10
imageio==2.36.0
importlib_resources==6.4.5
Jinja2==3.1.4
kiwisolver==1.4.7
lbforaging==2.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mpmath==1.3.0
mujoco==3.2.5
multi-agent-ale-py==0.1.11
networkx==3.4.2
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pettingzoo==1.24.3
pillow==11.0.0
pygame==2.3.0
pyglet==1.5.27
PyOpenGL==3.1.7
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
stable_baselines3==2.3.2
swig==4.2.1.post0
sympy==1.13.1
torch==2.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vmas==1.4.3
zipp==3.21.0
